---
import { getCollection } from "astro:content";
import PageLayout from "~/layouts/PageLayout.astro";
const allNotes = (await getCollection("notes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const vaultNotes = allNotes.filter((note) => note.id.startsWith("vault/"));
const notes = allNotes.filter((note) => note.id.startsWith("notes/"));
---

<PageLayout title="notes">
  <div class="space-y-12 pt-5">
    <div class="space-y-4">
      <h1 class="text-3xl font-bold">vault</h1>
      <section class="prose">
        <ul>
          {
            vaultNotes.map((note) => (
              <li>
                <a
                  class="text-foreground hover:text-accent decora underline-offset-2 hover:underline"
                  href={`/${note.id.split("/").pop()}/`}
                >
                  {note.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </div>

    <div class="space-y-6">
      <h1 class="text-3xl font-bold">notes</h1>
      <section>
        <ul class="flex flex-col">
          {
            notes.map((note) => (
              <li>
                <a
                  href={`/${note.id.split("/").pop()}/`}
                  class="group flex w-full flex-wrap gap-2 md:flex-nowrap md:gap-4"
                >
                  <div class="flex w-[20ch] gap-2 text-sm">
                    <span class="text-foreground/90 md:mt-1">
                      <time datetime={note.data.pubDate.toISOString()}>
                        {note.data.pubDate.toLocaleDateString("en-us", {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        })}
                      </time>
                    </span>
                  </div>
                  <span class="mb-10 flex w-full flex-col gap-2">
                    <span class="group-hover:text-accent text-lg font-semibold underline-offset-2 transition-all group-hover:underline">
                      {note.data.title}
                    </span>
                    <span class="text-foreground/90 h-full text-sm">{note.data.description}</span>
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</PageLayout>
