---
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="not found">
  <div class="flex flex-col items-center justify-center gap-6 pt-24 text-3xl font-bold">
    404 - page not found

    <a
      href="/"
      class="bg-accent text-accent-foreground rounded-xl px-6 py-3 text-base transition-[filter] duration-200 hover:brightness-120"
    >
      back home
    </a>
  </div>
</PageLayout>
