---
import { getCollection } from "astro:content";

import IconEmail from "~/components/icons/IconEmail.astro";
import IconGitHub from "~/components/icons/IconGitHub.astro";
import IconLink from "~/components/icons/IconLink.astro";
import IconLinkedIn from "~/components/icons/IconLinkedIn.astro";
import IconX from "~/components/icons/IconX.astro";
import ProjectCard from "~/components/ProjectCard.astro";
import PageLayout from "~/layouts/PageLayout.astro";

const projects = [
  {
    title: "Venur",
    description: "The ecommerce ecosystem for entrepreneurs and businesses.",
    url: "https://venur.me/",
    image: "/images/venur.webp",
  },
  {
    title: "chessu",
    description: "Online multiplayer chess platform for playing chess with friends.",
    url: "https://github.com/dotnize/chessu",
    image: "/images/chessu.webp",
  },
  {
    title: "prompt-ui",
    description: "An AI-powered UI generator for prototyping simple web pages.",
    url: "https://prompt-ui.nize.ph",
    image: "/images/prompt-ui.webp",
  },
  {
    title: "Mugnavo",
    description: "An open-source collective of developers and designers.",
    url: "https://mugnavo.com/",
    image: "/images/mugnavo.webp",
  },
  // {
  //   title: "Varo",
  //   description: "The AI-powered matchmaking platform for developers and indie founders.",
  //   url: "https://varo.dev/",
  //   image: "/images/project-two.jpg",
  // }
];

const latestPosts = (await getCollection("posts"))
  .filter((post) => !post.data.unlisted) // filter out unlisted posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3); // last 2 posts only
---

<PageLayout>
  <main class="mt-4 space-y-24">
    <div class="space-y-10">
      <div class="space-y-4">
        <h1 class="text-foreground-highlight text-6xl font-black sm:text-7xl">nize</h1>

        <p class="text-lg sm:text-xl">
          i'm nathaniel, a <span class="text-accent">software engineer</span>
          who loves building stuff on the web — specializing in <span class="text-accent"
            >TypeScript</span
          > technologies like React, Vue, Next.js, and TanStack.
        </p>
      </div>

      <div class="flex items-center gap-10">
        <a href="mailto:nat@nize.ph" title="nat@nize.ph">
          <span class="sr-only">Email</span>
          <IconEmail
            class="text-foreground/90 hover:text-accent size-6 transition-colors duration-200"
          />
        </a>
        <a
          href="https://github.com/dotnize"
          title="dotnize on GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="sr-only">dotnize on GitHub</span>
          <IconGitHub
            class="text-foreground/90 hover:text-accent size-6 transition-colors duration-200"
          />
        </a>
        <a
          href="https://x.com/dotnize"
          title="dotnize on X"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="sr-only">dotnize on X</span>
          <IconX
            class="text-foreground/90 hover:text-accent size-6 transition-colors duration-200"
          />
        </a>
        <a
          href="https://linkedin.com/in/nize"
          title="nize on LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="sr-only">nize on LinkedIn</span>
          <IconLinkedIn
            class="text-foreground/90 hover:text-accent size-6 transition-colors duration-200"
          />
        </a>
      </div>
    </div>
    <div class="space-y-4">
      <div class="flex items-end justify-between">
        <div class="text-3xl font-bold">
          <span class="max-sm:hidden">some of my work</span>
          <span class="sm:hidden">projects</span>
        </div>
        <a
          href="https://github.com/dotnize?tab=repositories&sort=stargazers"
          title="GitHub repositories"
          target="_blank"
          rel="noopener noreferrer"
          class="text-accent inline-flex items-center gap-1 text-sm hover:underline"
        >
          more on github <IconLink class="size-4" />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-x-2 gap-y-3 sm:gap-x-4 sm:gap-y-5">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>
    </div>

    <div class="space-y-4">
      <div class="text-3xl font-bold">writing</div>
      <div class="grid gap-2">
        {
          latestPosts.map((post) => (
            <a
              class="group relative flex items-center justify-between"
              href={`/posts/${post.id.split("/").pop()}/`}
            >
              <span class="text-accent absolute -left-6 opacity-0 transition-opacity duration-200 group-hover:opacity-100">
                &rightarrow;
              </span>
              <span class="text-foreground group-hover:text-accent font-medium transition-colors duration-200">
                {post.data.title}
              </span>
              <time datetime={post.data.pubDate.toISOString()} class="text-sm max-sm:sr-only">
                {post.data.pubDate.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
            </a>
          ))
        }
      </div>
      <a href="/posts/" class="text-accent text-sm hover:underline"> more posts &rightarrow; </a>
    </div>
  </main>
</PageLayout>
