---
import IconEmail from "~/components/icons/IconEmail.astro";
import IconGitHub from "~/components/icons/IconGitHub.astro";
import IconLinkedIn from "~/components/icons/IconLinkedIn.astro";
import IconX from "~/components/icons/IconX.astro";
import ProjectCard from "~/components/ProjectCard.astro";
import PageLayout from "~/layouts/PageLayout.astro";

const projects = [
  {
    title: "Venur",
    description: "The ecommerce ecosystem for entrepreneurs, and businesses.",
    url: "https://venur.me/",
    image: "/images/venur.jpeg",
  },
  {
    title: "chessu",
    description: "Online multiplayer chess platform for playing chess with friends.",
    url: "https://github.com/dotnize/chessu",
    image: "/images/chessu.jpeg",
  },
  {
    title: "prompt-ui",
    description: "An AI-powered UI generator for prototyping simple web pages.",
    url: "https://prompt-ui.nize.ph",
    image: "/images/prompt-ui.jpeg",
  },
  {
    title: "Mugnavo",
    description: "An open-source collective of developers and designers.",
    url: "https://mugnavo.com/",
    image: "/images/mugnavo.jpeg",
  },
  // {
  //   title: "Varo",
  //   description: "The AI-powered matchmaking platform for developers and indie founders.",
  //   url: "https://varo.dev/",
  //   image: "/images/project-two.jpg",
  // }
];
---

<PageLayout>
  <main class="space-y-24">
    <div class="space-y-10">
      <div class="space-y-6">
        <h1 class="text-foreground-highlight text-7xl font-black sm:text-8xl">nize</h1>

        <h2 class="text-foreground text-xl">
          i'm nathaniel, a software engineer and self-proclaimed nerd who loves building stuff on
          the web.
        </h2>
      </div>

      <div class="flex items-center gap-10">
        <a href="mailto:nat@nize.ph" title="nat@nize.ph">
          <IconEmail
            class="text-foreground size-6 opacity-90 transition-opacity duration-200 hover:opacity-100"
          />
        </a>
        <a
          href="https://github.com/dotnize"
          title="dotnize on GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconGitHub
            class="text-foreground size-6 opacity-90 transition-opacity duration-200 hover:opacity-100"
          />
        </a>
        <a
          href="https://x.com/dotnize"
          title="dotnize on X"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconX
            class="text-foreground size-6 opacity-90 transition-opacity duration-200 hover:opacity-100"
          />
        </a>
        <a
          href="https://linkedin.com/in/nize"
          title="nize on LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconLinkedIn
            class="text-foreground size-6 opacity-90 transition-opacity duration-200 hover:opacity-100"
          />
        </a>
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold sm:text-3xl">some of my work</div>
      <div class="mt-4 grid grid-cols-2 gap-2 sm:gap-4">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>
    </div>
  </main>
</PageLayout>
