<footer class="mt-24 mb-16">
  <a class="group select-none" href="mailto:nat@nize.ph">
    <div>let's work together</div>
    <span class="text-accent">&rightarrow;</span>
    <span class="text-accent select-all group-hover:underline" title="Email">nat@nize.ph</span>
  </a>
</footer>
