<footer class="mt-24 mb-16">
  <a class="group" href="mailto:nathaniel@nize.ph">
    <div>let's work together</div>
    <span class="text-accent">&rightarrow;</span>
    <span class="text-accent group-hover:underline" title="Email">nathaniel@nize.ph</span>
  </a>
</footer>
