<footer class="mt-24 mb-16">
  <a class="group" href="mailto:nat@nize.ph">
    <div class="select-none">let's work together</div>
    <span class="text-accent select-none">&rightarrow;</span>
    <span class="text-accent select-all group-hover:underline" title="Email">nat@nize.ph</span>
  </a>
</footer>
