---
import { Image } from "astro:assets";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex items-center justify-between pt-24">
  <Image
    src="/images/nize.webp"
    alt="nize's avatar"
    width={44}
    height={44}
    loading="eager"
    class="bg-card rounded-[22px]"
  />
  <nav>
    <ul class="flex items-center gap-4">
      <li><a href="/" class="hover:text-accent transition-colors">home</a></li>
      <li><a href="/posts/" class="hover:text-accent transition-colors">posts</a></li>
      <li class="ml-0.5">
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</header>
