@import "tailwindcss" source("../");

@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));
@custom-variant pink (&:is(.pink *));

@theme {
  --font-azeret: var(--font-azeret-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-highlight: var(--foreground-highlight);

  --color-pfp: var(--pfp);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

@utility nb-shadow-on {
  box-shadow: 4px 4px 0 0px #3c3836;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    scrollbar-width: thin;
  }
}

:root {
  --background: #f9f5d7;
  --foreground: #3c3836;
  --foreground-highlight: #282828;

  --pfp: #fbf1c7;

  --accent: #427b58;
  --accent-foreground: #f9f5d7;
}

.dark {
  --background: #1d2021;
  --foreground: #d5c4a1;
  --foreground-highlight: #ebdbb2;

  --accent: #8ec07c;
  --accent-foreground: #1d2021;
}

.pink {
  --background: #1e1e2e;
  --foreground: #cdd6f4;
  --foreground-highlight: #f5c2e7;

  --pfp: #f9e2af;

  --accent: #f5c2e7;
  --accent-foreground: black;
}
